body {
background-color:#f4f4f4;
color:#555;
font-size:16px;
line-height:1.6em;
}

.topOfTheWebSite {
width:80%
margin:auto;
overflow:hidden;
}
.topOfTheWebSite h1{
background-color:#6495ED;
font-style:italic;
font-family:Monaco;
line-height:2.0em;
margin:0;
}
.topOfTheWebSite h3{
background-color:#A9A9A9;
margin-bottom:20px;
line-height:2.0em;
margin:0;
}
.topOfTheWebSite p {
border:2px solid #000;
position:centre;
background-image:url('techImage.jpg');
}
.levels {
border:2px dotted #000;
border-radius:15px;
}
.levels ul {
padding:0;
list-style:none;
}
.levels li{
padding-bottom:3px;
padding-left:3px;
list-style-image: url('check.jpg');
}
.levels li:nth-child(even){
background-color:#BDB76B;
}
.levels li:hover {
background-color:#483D8B;
color:white;
}
.myTable table ,th, td {
border: 2px solid black;
font-family:Copperplate;

}
.myTable th, td:hover{
background-image:url('tableImage.jpg');
color:#00FFFF;
font-weight:bold;
}

